@font-face {
    font-family: 'burbank';
    src: url(font/burbank-big-condensed-bold.otf) format(otf);
}
body{
    font-family: 'burbank';
    font-weight: bold;
    box-sizing: border-box;
}
section{
    height: 100vh; /*não ficar com borda nos cantos superiores e inferiores*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*alinhar itens em coluna*/
}
div form{
}
form div{
    margin: 10px;
    margin-top: 50px;
    font-size: 24px;
}
form div input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.btns{
    margin-left: 5px;
}